.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

.nav-link.active {
  background-color: #dc3545 !important; 
  color: white !important;
}

.nav-link {
    color: #343a40;
}